<a href="https://colab.research.google.com/github/mottaquikarim/PYTH2/blob/master/src/PSETS/nb/basic_data_inclass_psets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## BASICS

### P1.PY

In [ ]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 'initial' variable is yet. The program won't run if you leave it blank, but you don't want to forget you need it! Make a workaround.

my_first_variable = None

'\nPlaceholders\n'



### P2.PY

In [ ]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind yourself what this variable represents. Now print it out without re-typing the number.

favorite_number = 10 #this variable represents my favorite number
print(f'My favorite number is {favorite_number}!')

# Create another variable that represents your favorite color, and do the same steps as above.

favorite_color = 'blue' #this variable represents my favorite color
print(f'My favorite color is {favorite_color}!')



### P3.PY

In [ ]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of your favorite song. Add a comment that includes the song title and artist **each on their own line**! Now print out this variable.

favorite_song_lyrics = """
"Blank Space" by Taylor Swift
Nice to meet you, where you been?
I could show you incredible things
Magic, madness, heaven, sin
Saw you there and I thought"""

print({favorite_song_lyrics})



## TYPECASTING

### P1.PY

In [ ]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

five = float(five)
zero = float(zero)
neg_8 = float(neg_8)
neg_22 = float(neg_22)

print(f'{five}: {type(five)}')
print(f'{zero}: {type(zero)}')
print(f'{neg_8}: {type(neg_8)}')
print(f'{neg_22}: {type(neg_22)}')

five = int(five)
zero = int(zero)
neg_8 = int(neg_8)
neg_22 = int(neg_22)

print(f'{five}: {type(five)}')
print(f'{zero}: {type(zero)}')
print(f'{neg_8}: {type(neg_8)}')
print(f'{neg_22}: {type(neg_22)}')



### P2.PY

In [ ]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types.
#Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

five = str(five)
zero = str(zero)
neg_8 = str(neg_8)
T = str(T)
F = str (F)

print(f'{five}: Variable "five" is now a {type(five)}')
print(f'{zero}: Variable "zero" is now a {type(zero)}')
print(f'{neg_8}: Variable "neg_8" is now a {type(neg_8)}')
print(f'{T}: Variable "T" is now a {type(T)}')
print(f'{F}: Variable "F" is now a {type(F)}')

five = int(five)
zero = int(zero)
neg_8 = int(neg_8)
T = bool(T)
F = bool(F)

print(f'{five}: Variable "five" is now converted back a {type(five)}')
print(f'{zero}: Variable "zero" is now converted back to a {type(zero)}')
print(f'{neg_8}: Variable "neg_8" is now converted back to a {type(neg_8)}.')
print(f'{T}: Variable "T" is now converted back to a {type(T)}')
print(f'{F}: Variable "F" is now converted back to a {type(F)}. But it displays "True" because only empty values are interpreted as "False" in boolean.') #Question: does 0 count as an "empty value"?



### P3.PY

In [ ]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0

one = bool(one)
zero = bool(zero)

print(f'{one}: {type(one)}')
print(f'{zero}: {type(zero)}')

# B) Use typecasting to turn the resultant variables from part A into floats. Print the result and the datatype of the result.

one = float(one)
zero= float(zero)

print(f'{one}: {type(one)}')
print(f'{zero}: {type(zero)}')

# C) Use typecasting to turn the resultant variables from part B back into booleans. Print the result and the datatype of the result.

one = bool(one)
zero = bool(zero)

print(f'{one}: {type(one)}')
print(f'{zero}: {type(zero)}')

# C) Use typecasting to turn the resultant variables from part C into integers. Print the result and the datatype of the result.

one = int(one)
zero = int(zero)
print(f'{one}: {type(one)}')
print(f'{zero}: {type(zero)}')

# E) Use typecasting to turn the variable below into a boolean value. Print the result and the datatype of the result.

ten = 10
ten = bool(ten)
print(f'{ten}: {type(ten)}')



### P4.PY

In [ ]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the result and the datatype of the result.

one = 1
zero = 0
bool_true = True
bool_false = False

one = bool(one)
zero = bool(zero)
bool_true = bool(True)
bool_false = bool(False)

print(f'{one}: {type(one)}') #prints True
print(f'{zero}: {type(zero)}') #prints False
print(f'{bool_true}: {type(bool_true)}') #prints true
print(f'{bool_false}: {type(bool_false)}') #prints false

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' back into integers. Print the result and the datatype of the result.

one = int(one)
zero = int(zero)
bool_true = int(bool_true)
bool_false = int(bool_false)

print(f'{one}: {type(one)}')
print(f'{zero}: {type(zero)}')
print(f'{bool_true}: {type(bool_true)}')
print(f'{bool_false}: {type(bool_false)}')

# C) Use typecasting to turn the latest values for variables 'bool_true' and 'bool_false' back into boolean values. Print the result and the datatype of the result.

bool_true = bool(bool_true)
bool_false = bool(bool_false)

print(f'{bool_true}: {type(bool_true)}')
print(f'{bool_false}: {type(bool_false)}')



## OPERATORS

### P1.PY

In [ ]:
"""
Integer & Float Operators
"""

# Complete the specified math operations. Do the next operation on the result from the previous operation.

orig_var = 100

# Add 50
second_value = orig_var + 50


# Subtract 90
third_value = second_value - 90

# Multiply 10
fourth_value = third_value * 10

# Divide 150
fifth_value = fourth_value / 150

# Modulus 3
sixth_value = fifth_value % 3

#checking
print(orig_var)
print(second_value)
print(third_value)
print(fourth_value)
print(fifth_value)
print(sixth_value)



### P2.PY

In [ ]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. Do NOT add any punctuation up front. Add the two variables together, and print the result.
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

variable_1 = "I'll go to the beach today"
variable_2 = "and I'll go snorkeling."

print(variable_1 + ", " + variable_2)



### P3.PY

In [ ]:
"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together.

# A)
a = 0
b = 2

x = a + b # computes integer 2

# B)
c = '0'
d = '2' # computes string "02"

y = c + d

# C)
e = "0"
f = 2

z = e + f #produces syntax error because you cannot add a string to an integer
z = int(e) + f #computes integer 2



### P4.PY

In [ ]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

x = a + b # integer 2

# B)
c = False
d = False

y = c + d #integer 0

# C)
e = True
f = False

z = e + f # integer 1